/*основные настройки*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-white-color: #FFFFFF;
   --primary-bg-color: #FFFFFF;
   --secondary-bg-color: #2F303A;
   --secondary-white-color: #F5F4FA;
   --card-gap: 30px;
}

.body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: 'Roboto', 'sans-serif';
   font-size: 14px;
   letter-spacing: 0.03em;
}

img {
   display: block;
   max-width: 100%;
}




h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.list-style {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

/*logo*/

.text-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
   display: block;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-right: 95px;
   padding-left: 40px;
}

.Part-logo-black {
   color: #212121;
   display: inline-block;
}

.Part-logo-white {
   color: aliceblue;
   display: inline-block;
}

/* block header */

.page-header {
   background-color: var(--primary-bg-color);
   border-bottom: 1px solid #ececec;
}




.main-nav {
   display: flex;
   align-items: center;
}

.link-nav {
   display: flex;
}

.link-nav .link-nav-item+.link-nav-item {
   margin-left: 50px;
}


.header-link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--title-text-color);
   text-decoration: none;
   padding-top: 32px;
   padding-bottom: 32px;

}

.header-link:hover,
.header-link:focus {
   color: var(--accent-color);
}





.current {
   color: var(--accent-color);
   text-decoration: none;
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
}

.current-clean {
   text-decoration: none;
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
}

/*контакты*/

.contact-header {
   display: flex;
   margin-left: auto;
   align-content: center;
}

.contact {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
   text-decoration: none;
   justify-self: flex-end;
}

.contact:hover,
.contact:focus {
   color: var(--accent-color);
}



.contact-header .contact-item+.contact-item {
   margin-left: 50px;
}



/* block main */
.hero {
   background-color: var(--secondary-bg-color);
   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;

}

.title {
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   width: 696px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--primary-white-color);
   text-align: center;
}

.button-title {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   cursor: pointer;
   border: none;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   padding: 10px 32px;
   border-radius: 4px;
   align-items: center;
   text-align: center;
   display: inline-block;
   letter-spacing: 0.06em;


}

.button-title:hover,
.button-title:focus {
   color: var(--primary-white-color);
   background-color: #188CE8;
   ;
}





.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*Наши преимущества*/

.features {
   background-color: var(--primary-bg-color);
   padding-top: 95px;
   padding-bottom: 95px;
}

.features-list {
   display: flex;
   justify-content: space-around;
}

.features-list-item {
   min-width: 270px;
   margin-left: 30px;

}

.text-title {
   margin-bottom: 10px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--title-text-color);
}

.Text-description {
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}





/*чем занимаемся и наша команда*/

.exercise {
   display: flex;
}

.title-exercise {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);

}

.exercise-list {
   display: flex;
}

.exercise-list-item {
   margin-left: 30px;
}

/* наша команда*/

.our-command {
   padding-top: 94px;
   padding-bottom: 94px;
   background-color: var(--secondary-white-color);
}

.our-command-list {
   display: flex;
}

.command-list {
   margin-left: 30px;
}

.command-content {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: var(--primary-bg-color);
   padding-top: 30px;
   padding-bottom: 30px;

}

.title-our-command {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.initials {
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.position {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
}


/* block footer */

.footer {
   background-color: var(--secondary-bg-color);
   padding: 60px 0px;
}

.footer-logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
   display: inline-block;
   letter-spacing: 0.03em;
   margin-bottom: 20px;
}

.adres-footer {
   color: var(--primary-white-color);
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;
   margin-bottom: 9px;
}

.adres-footer:hover,
.adres-footer:focus {
   color: var(--accent-color);
}

.connect-footer {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;

}

.connect-footer:hover,
.connect-footer:focus {
   color: var(--accent-color);
}

.footer-list :nth-child(2) {
   margin-bottom: 10px;
   display: block;
}

.footer-link-item {
   padding-bottom: 9px;
}


/*кнопки сервисов*/
.examples {
   padding-top: 94px;
   padding-bottom: 94px;
}

.button-service-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.button-service-item {
   margin-left: 8px;
}

.button-service {
   color: var(--title-text-color);
   background-color: var(--secondary-white-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   cursor: pointer;
   border-radius: 4px;
   padding: 6px 22px;
   border: none;
}

.button-service:hover,
.button-service:focus {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
}


/*каталог*/
.card {
   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * var(--card-gap));
   margin-top: calc(-1 * var(--card-gap));

}

.card-item {
   flex-basis: calc(100% / 3 - var(--card-gap));
   margin-top: var(--card-gap);
   margin-left: var(--card-gap);
}

.catalog-heading {
   margin-bottom: 4px;
   color: var(--title-text-color);
   font-size: 18px;
   line-height: 36px;
   letter-spacing: 0.06em;

}

.catalog-text {
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.03em;
}

.card-content {
   padding: 20px 24px;
   border-bottom: 1px solid #EEEEEE;
   border-left: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
}