/*основные настройки*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-white-color: #FFFFFF;
   --primary-bg-color: #FFFFFF;
   --secondary-bg-color: #2F303A;
   --secondary-white-color: #F5F4FA;
}

.body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: 'Roboto', 'sans-serif';
   font-size: 14px;
   letter-spacing: 0.03em;
}

.list-style {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* block header */
.page-header {
   border-bottom: 1px solid #ececec;
}

.text-logo {

   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   color: #2196F3;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 20px;
}

.Part-logo-black {
   color: #212121;
   display: inline-block;
}

.Part-logo-white {
   color: aliceblue;
   display: inline-block;
}

/*навигация*/
.link {
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
   text-decoration: none;
   color: #212121;
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;
}

.link-navigation .link:hover,
link:focus {
   color: #2196F3;
}

.current {
   color: var(--accent-color);
   text-decoration: none;
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
}

/*контакты*/




.connektion-header,
.connect-link {
   font-family: 'Roboto';
   color: var(--primary-text-color);
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;
}

.connektion-header .connect-link:hover,
.connektion-header .connect-link:focus {
   color: var(--accent-color);
}


/* block main */
.title {
   margin-bottom: 30px;
   color: var(--primary-white-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.35;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.hero {
   background-color: var(--secondary-bg-color);
   text-align: center;
   padding: 200px 0px;

}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*кнопка webstudio*/

.link-button {
   text-decoration: none;
}

.button-title {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   padding: 10px 32px;
   display: inline-block;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   border-radius: 4px;

}

.button-title:hover,
.button-title:focus {
   color: var(--primary-white-color);
   background-color: #188CE8;
   ;
}



.features {
   background-color: var(--primary-bg-color);
   padding-top: 95px;
   padding-bottom: 95px;
}

/*Наши преимущества*/
.text-title {
   margin-bottom: 10px;
   color: var(--title-text-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.15;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.Text-description {
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

/*чем занимаемся и наша команда*/
.exercise {
   background-color: var(--primary-bg-color);
   padding-bottom: 95px;
   text-align: center;
}

.title-exercise {
   margin-bottom: 50px;
   font-family: 'Roboto';
   font-style: normal;
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.initials {
   margin-bottom: 10px;
   color: var(--title-text-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.position {
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.our-command {
   background-color: var(--secondary-white-color);
   padding-top: 95px;
   padding-bottom: 95px;

}

.title-our-command {
   margin-bottom: 50px;
   font-family: 'Roboto';
   font-style: normal;
   color: var(--title-text-color);
   font-weight: 700;
   line-height: 1.15;
   letter-spacing: 0.03em;
   font-size: 36px;
}

.crew-content {
   padding-bottom: 30px;
   padding-top: 30px;
}

/* block footer */
.background-footer {
   background-color: var(--secondary-bg-color);
   padding-top: 60px;
   padding-bottom: 60px;
}

/*кнопки сервисов*/
.examples {
   padding-top: 94px;
   padding-bottom: 94px;
}

.button-service {
   color: var(--title-text-color);
   background-color: var(--secondary-white-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   cursor: pointer;
   border-radius: 4px;
   padding: 6px 22px;
   border: none;
}

.button-service:hover,
.button-service:focus {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
}

/*каталог*/
.catalog-heading {
   color: var(--title-text-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.catalog-text {
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.03em;
}

/*контакты подвал*/
.adres-footer {
   color: var(--primary-white-color);
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;
   margin-bottom: 10px;
}

.adres-footer:hover,
.adres-footer:focus {
   color: var(--accent-color);
}

.connect-footer {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   display: block;

}

.connect-footer:hover,
.connect-footer:focus {
   color: var(--accent-color);
}

.footer-list :nth-child(2) {
   margin-bottom: 10px;
   display: block;
}